/Path_maker/program
#run
/Equalization/run
#run

*.o

/Path_maker/Generated
#ignore input

/Equalization/Input/*.png
/Equalization/Input/*.jpg

#ignore output

/Equalization/output/*.png
/Equalization/output/*.jpg
